.p1 {
	font-size: 142%;
}

.p2 {
	font-weight: bold;
}

.output {
	border: 1px solid;
	display: inline-block;
	inline-size: auto;
	width: 29%;
	margin-top: 4%;
	margin-right: 3%;
	padding-bottom: 1%;
}